.top_wrap {
  padding-top: 100px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.top_row {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}

.avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 auto;
}

.intro {
  width: 50%;
  max-width: 960px;
  margin: 0 auto;
  text-align: left;
}

.bottom {
  background-color: #f2f2f2;
  padding: 50px 0;
  margin: 0 auto;
  max-width: 960px;
}

.exp {
  width: 80%;
  margin: 0 auto;
  max-width: 960px;
  text-align: left;
}
