@tailwind base;
@tailwind components;
@tailwind utilities;

.fa {
  padding: 14px;
  text-decoration: none;
  margin: 5px 5px;
  border-radius: 50%;
}

.fa-linkedin {
  background: #0077B5;
  color: white;
}

.fa-github {
  background: black;
  color: white;
}

.sub-heading {
  font-size: 0.875rem;
  font-weight: 500;
  color: #6B7280;
}

ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

/* Mobile stuff */
@media (max-width: 640px) {
  #intro {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 767px) {
  #research ul {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
  #open-source ul {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
}

@media screen and (max-width: 639px) {
  #research ul {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
  #open-source ul {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
}

/* Navigation bar adaptation*/
@media screen and (max-width: 640px) {
  #scroll-to-intro::before {
    content: "Intro";
  }
  #scroll-to-research::before  {
    content: "Research";
  }
  #scroll-to-open-source::before  {
    content: "Open Source";
  }
  #scroll-to-contact::before  {
    content: "@me";
  }
  #go-to-index::before {
    content: "Home";
  }
}

@media screen and (min-width: 641px) {
  #scroll-to-intro::before {
    content: "Introduction";
  }
  #scroll-to-research::before  {
    content: "Research";
  }
  #scroll-to-open-source::before  {
    content: "Open Source";
  }
  #scroll-to-contact::before  {
    content: "Contact";
  }
  #go-to-index::before {
    content: "Home";
  }
}

.open-source-img {
  width: 56px;
  height: 56px;
  object-fit: contain;
}

.section-style {
  max-width: 768px;
  margin: 3rem auto;
  padding: 1.5rem;
  background-color: rgba(243,244,246,0.6);
  backdrop-filter: blur(4px);
  border-radius: 0.5rem;
  text-align: left;
}

.section-title {
  font-size: 1.875rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1rem;
}

.skills-list, .certifications-list {
  list-style-type: disc;
  padding-left: 2rem;
  color: #374151;
}
